<div class="dialog-service-check">
    <table class="comm-table comm-table-ex2">
        <tbody>
        <tr>
            <th>类型：</th>
            <td>{{serviceTagTypeName}}</td>
        </tr>
        <tr>
            <th>名称：</th>
            <td>{{serviceTagName}}</td>
        </tr>
        <tr>
            <th>头像：</th>
            <td>
                <img src="{{getImage serviceTagImg}}?w=96&h=96&q=75" width="96" height="96" alt="" class="pic">
            </td>
        </tr>
        <tr>
            <th>申请人：</th>
            <td>{{userName}}</td>
        </tr>
        </tbody>
    </table>
</div>