<form id="J_Form">
    <input type="hidden" name="replyId" value="{{replyId}}" />
    <input type="hidden" name="score" value="{{star}}" />
    <div class="dialog-reward-assess">
        <div class="star-box star-box-edit star-box-l{{star}}">
            <i class="ico ico-star ico-star0" data-class="star-box-l0" data-star="0"  title="〇星：作废"></i>
            <i class="ico ico-star ico-star1" data-class="star-box-l1" data-star="1"  title="一星：谢谢参与"></i>
            <i class="ico ico-star ico-star2" data-class="star-box-l2" data-star="2"  title="二星：有参考价值"></i>
            <i class="ico ico-star ico-star3" data-class="star-box-l3" data-star="3"  title="三星：有启发"></i>
            <i class="ico ico-star ico-star4" data-class="star-box-l4" data-star="4"  title="四星：可以用"></i>
            <i class="ico ico-star ico-star5" data-class="star-box-l5" data-star="5"  title="五星：非常好"></i>
        </div>
    </div>
</form>